.jac/
__pycache__/
.vscode/
__pycache__/
.jac/
.vscode/
.env.env


# InsForge & AI agent skills
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
